// Заголовки, загальні БЕМ блоки та інше...

.title{
        color: #292929;
        font-size: rem(45);
        font-weight: 700;
        line-height: 133.023%;
}
.subtitle {
    color:#2929296c;
    font-size: rem(16);
    font-weight: 500;
    line-height: 175.523%;
    }